<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dart_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,84}</string>
                <key>spriteSourceSize</key>
                <string>{104,84}</string>
                <key>textureRect</key>
                <string>{{112,1},{104,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_02_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,0}</string>
                <key>spriteSize</key>
                <string>{22,48}</string>
                <key>spriteSourceSize</key>
                <string>{22,48}</string>
                <key>textureRect</key>
                <string>{{218,45},{22,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_02_glow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{78,74}</string>
                <key>textureRect</key>
                <string>{{1,12},{78,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons/dart_02-uhd.png</string>
            <key>size</key>
            <string>{240,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:038619eb29e27aa37e8f3c51f7b034e0:eb70feec35028dcf4e6bab40730dee96:5f0c3c811c672100a73fbfb766864238$</string>
            <key>textureFileName</key>
            <string>icons/dart_02-uhd.png</string>
        </dict>
    </dict>
</plist>
