<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_22_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,7}</string>
			<key>spriteSize</key>
			<string>{176,94}</string>
			<key>spriteSourceSize</key>
			<string>{176,108}</string>
			<key>textureRect</key>
			<string>{{0,0},{176,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_22_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{52,-3}</string>
			<key>spriteSize</key>
			<string>{16,32}</string>
			<key>spriteSourceSize</key>
			<string>{120,38}</string>
			<key>textureRect</key>
			<string>{{177,0},{16,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_22_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,7}</string>
			<key>spriteSize</key>
			<string>{184,102}</string>
			<key>spriteSourceSize</key>
			<string>{184,116}</string>
			<key>textureRect</key>
			<string>{{194,0},{102,184}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_22-uhd.png</string>
		<key>size</key>
		<string>{297,184}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_21-uhd.png</string>
	</dict>
</dict>
</plist>
